* {
    font-family:"Lucida Grande", Sans-serif;
}



#title {
	text-align: center;
    
}






#maintable {
    width:100%;
	margin-left: auto;
	margin-right: auto;
}


table.entry {
    width:100%;
    border-bottom:grey 1px solid;
    /*	border-top:grey 1px solid; */
}

tr.address {
    font-size:10px;
    text-align:left;
}

td.trademark {
    text-align:left;
}

td.price {
    /*margin-left:10px;*/
    text-align:right;
}


tr[class="address"] td {
    padding-top:5px;
    padding-bottom:10px;
}

td.arrow{
    text-align:right;
}



/*
 table.entry {
 border:1px solid #000;
 -webkit-border-radius: 5px;
 padding: 2px; 
 }
 */
/*
 td.trademark {
 font-weight:bold;
 }
 
 td.price {
 text-align:left;
 font-weight:bold;
 }
 
 .entry {
 border:1px solid #000;
 -webkit-border-radius: 5px;
 padding: 2px;
 
 }
 */
/*
 body
 {
 background-color:#d0e4fe;
 }
 h1
 {
 color:orange;
 text-align:center;
 }
 p
 {
 font-family:"Times New Roman";
 font-size:20px;
 }
 */

/*
 td {
 font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
 sans-serif;
 color: #6D929B;
 }
 */

/* p {background-color: #00FFFF;} */